@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Выбор типа";
}

<h2 class="display-4">Регистрация объекта</h2>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Вы уже начали регистрацию объекта.</h2>
        <p>Его редактирование можно продолжить перейдя по ссылке.</p>
        <a asp-action="BasicInfo" class="btn btn-success">Продолжить редактировать</a>
    </div>
</div>

<div class="row">
    @foreach (var item in ViewBag.ApartmentTypes)
    {
        <a class="col-6 col-sm-4 col-lg-3 mt-3" asp-action="Preset" asp-route-id="item.Id">
            <div class="card">
                <img src="@item.PhotoUrl" alt="Image not found" class="card-img-top text-center" />
                <div class="card-footer">
                    <h4 class="card-title text-center text-black-50">@item.Name</h4>
                </div>
            </div>
        </a>
    }
</div>