@model List<Photo>
@{
    ViewData["Title"] = "Фотографии";
}

<h2 class="my-3 display-4">Фотографии</h2>

<form action="/" method="post">
    <div class="card">
        <div class="card-body">
            <div class="col-sm-12">
                <h2 class="card-title">Выберите фотографию</h2>
                <div class="form-group">
                    <small>Можно выбрать до 15 фотографий.</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    @*<input class="custom-file-input" type="file" />*@
                    <span  class="alert-danger"></span>
                </div>

            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                qwe
            </div>
            <div class="list-group-item">
                qwe
            </div>
            <div class="list-group-item">
                qwe
            </div>
        </div>

    </div>

    <div class="d-flex flex-column align-items-center mb-5">
        <input type="submit" value="Принять и продолжить" class="btn-block btn-success btn-lg mt-3 mb-1" />
    </div>
</form>