@model Apartment 
@{
    ViewData["Title"] = "Услуги";
}

<h2 class="my-3 display-4">Услуги</h2>

<form asp-controller="" asp-action="">
    <div class="card">
        <div class="card-body ">
            <div class="form-group col-sm-6">
                <h2 class="card-title">Парковка</h2>
                <label class="col-form-label-sm">Данная информация будет полезная для людей путешествующих на машине.</label>
                <select class="custom-select col-sm-6">
                    <option value="1">Отсутствует</option>
                    <option value="2">Платная</option>
                    <option value="3">Бесплатная</option>
                </select>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <div class="form-group d-flex flex-column  col-sm-6">
                <h2 class="card-title">Завтрак</h2>
                <label class="col-form-label-sm">Завтрак для посетителей.</label>
                <select class="custom-select col-sm-6">
                    <option value="1">Отсутствует</option>
                    <option value="2">Присутствует</option>
                    <option value="3">Включен в стоимость</option>
                </select>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body ">
            <h2 class="card-title col-sm-10">Услуги</h2>
            <div class="d-flex flex-wrap">
                <div class="form-group flex-grow-1 col-sm-6">
                    <input asp-for="Pool" class="form-check-inline" />
                    <label asp-for="Pool" class="col-form-label"></label>
                    <span asp-validation-for="Pool" class="alert-danger"></span>
                </div>
                <div class="form-group flex-grow-1 col-sm-6">
                    <input asp-for="Bar" class="form-check-inline" />
                    <label asp-for="Bar" class="col-form-label"></label>
                    <span asp-validation-for="Bar" class="alert-danger"></span>
                </div>
                <div class="form-group flex-grow-1 col-sm-6">
                    <input asp-for="FreeWiFi" class="form-check-inline" />
                    <label asp-for="FreeWiFi" class="col-form-label"></label>
                    <span asp-validation-for="FreeWiFi" class="alert-danger"></span>
                </div>
                <div class="form-group flex-grow-1 col-sm-6">
                    <input asp-for="Fitnes" class="form-check-inline" />
                    <label asp-for="Fitnes" class="col-form-label"></label>
                    <span asp-validation-for="Fitnes" class="alert-danger"></span>
                </div>
                <div class="form-group flex-grow-1 col-sm-6">
                    <input asp-for="FamilyNumbers" class="form-check-inline" />
                    <label asp-for="FamilyNumbers" class="col-form-label"></label>
                    <span asp-validation-for="FamilyNumbers" class="alert-danger"></span>
                </div>
                <div class="form-group flex-grow-1 col-sm-6">
                    <input asp-for="SmokeFreeNumbers" class="form-check-inline" />
                    <label asp-for="SmokeFreeNumbers" class="col-form-label"></label>
                    <span asp-validation-for="SmokeFreeNumbers" class="alert-danger"></span>
                </div>
                <div class="form-group flex-grow-1 col-sm-6">
                    <input asp-for="FullTimeRegistration" class="form-check-inline" />
                    <label asp-for="FullTimeRegistration" class="col-form-label"></label>
                    <span asp-validation-for="FullTimeRegistration" class="alert-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center mb-5">
        <input type="submit" value="Принять и продолжить" class="btn-block btn-success btn-lg mt-3 mb-1" />
        <small>Переходя по какой люибо другой ссылке вы потеряете все изменения введенные на этой странице!</small>
    </div>
</form>