@{
	Layout = "_Layout";
}
<div class="row justify-content-center">
	<div class="col-md-3  mt-3">
		<div class="list-group ">
			<a asp-area="Account" asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Info" ? "active" : "")">Данные</a>
			<a asp-area="Account" asp-action="Index" asp-controller="Security" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Security" ? "active" : "")">Защита</a>
			<a asp-area="Account" asp-action="Index" asp-controller="Wallet" class="list-group-item list-group-item-action @(ViewData["Title"].ToString() == "Wallet" ? "active" : "")">Кошелек</a>
		</div>
	</div>
	<div class="col-md-9 mt-3">
		<div class="card">
			@RenderBody()
		</div>
	</div>
</div>

@section Scripts {
	@await RenderSectionAsync("Scripts", required: false)
}
