@model EntityReservation
@{
	ViewData["Title"] = "Подтверждение бронирования";
}
<h2>Подтверждение броинрования</h2>

<div class="card mt-3">
	<div class="card-body">
		<h2 class="card-title">Подтверждение бронированя</h2>
	</div>
</div>

<form asp-action="Confirm" asp-controller="EntityReservation" method="post">
</form>
<form asp-action="Delete" asp-controller="EntityReservation" method="post">
</form>
