@model Country
@{
	ViewData["Title"] = "Страны";
}
<div class="col-sm-12">
	<h2 class="display-4">Удаление элемента</h2>
	<a asp-action="Index" class="btn-link">Вернуться к спику</a>
</div>

<div class="col-sm-4 mt-3">
	<div class="form-group">
		<p>@Html.DisplayNameFor(o => o.Name)</p>
		<h4>@Html.DisplayFor(o => o.Name)</h4>
	</div>
	@if (!String.IsNullOrEmpty(Model.PhotoUrl))
	{
		<div class="form-group">
			<p>@Html.DisplayNameFor(o => o.PhotoUrl)</p>
			<img src="@Html.DisplayFor(o => o.PhotoUrl)" class="img-thumbnail" />
		</div>
	}
	<form asp-action="Delete" method="post">
		<div class="form-group">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Удалить" class="btn btn-danger" />
		</div>
	</form>
</div>
