@model UserApartmentsViewModel
@addTagHelper *, BookingLikeApp
@{ 
	ViewData["Title"] = "Собственность";
}

<h2 class="display-4">Список зарегистрированной недвижимости</h2>
@if(Model.Apartments.Count == 0)
{
	<h2 class="display-4">Не найдено недвижимости</h2>
}
else
{
<div class="col-sm-8">
	@if (Model.PageViewModel.TotalPages > 1)
	{
		<div class="row justify-content-center">
			<page-link page-action="Index" page-view-model="Model.PageViewModel"></page-link>
		</div>
	}

	@foreach (var item in Model.Apartments)
	{
		<div class="card my-3">
			<a asp-action="Index" asp-controller="Edit" asp-route-id="@item.Id" class="card-header list-group-item-action">
				<div class="row align-items-center">
					<h2 class="flex-grow-1 card-title ml-5">@item.Name</h2>

				</div>
			</a>
			<div class="list-group list-group-flush">
				@if (item.Numbers != null)
				{
					@foreach (var number in item.Numbers)
					{
						<a asp-action="Edit" asp-controller="Number" asp-route-id="@number.Id" class="list-group-item list-group-item-action">
							<div class="row align-items-center w-75">
								<h4 class="flex-grow-1 ml-3">@number.Name</h4>

							</div>
						</a>
					}

				}
			</div>
		</div>
	}
	@if (Model.PageViewModel.TotalPages > 1)
	{
		<div class="row justify-content-center">
			<page-link page-action="Index" page-view-model="Model.PageViewModel"></page-link>
		</div>
	}
</div>
}

