@model List<Apartment>
@{ 
	ViewData["Title"] = "Поиск";
}

@*Поиcковая панель*@
<div class="row mt-5">
	<div class="col-sm-3">
		<form asp-action="Search" asp-controller="Read">
			<div class="card">
				<div class="card-header bg-warning">
					<h2 class="card-title text-center">Поиск отеля</h2>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label class="col-form-label">Название</label>
						<input type="text" name="name" value="" class="form-control" />
						<span></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Дата начала</label>
						<input type="date" name="name" value="" class="form-control" />
						<span></span>
						<label class="col-form-label">Дата конца</label>
						<input type="date" name="name" value="" class="form-control" />
						<span></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Страна</label>
						<input type="text" name="name" value="" class="form-control" />
						<span></span>
						<label class="col-form-label">Город</label>
						<input type="text" name="name" value="" class="form-control" />
						<span></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Количество взрослых</label>
						<input type="number" value="" class="form-control" />
						<span></span>
						<label class="col-form-label">Количество детей</label>
						<input type="number" value="" class="form-control" />
						<span></span>
					</div>
				</div>
			</div>
			<input type="submit" value="Начать поиск" class="btn btn-block btn-success mt-3"/>
		</form>
	</div>
	<div class="col-sm-9">
		<div class="list-group">
			@foreach (var item in Model)
			{
				<a asp-action="Details" asp-route-id="@item.Id" class="list-group-item-action list-group-item">
					<h2>[@item.ApartmentType.Name] @item.Name</h2>
				</a>
			}
		</div>
	</div>
</div>

