@model SearchApartmentViewModel
@addTagHelper *, BookingLikeApp
@{ 
	ViewData["Title"] = "Поиск";
}

<div class="row mt-5">
	<div class="col-sm-3">
		<form asp-action="Search" asp-controller="Read" method="get">
			<div class="card">
				<div class="card-header bg-warning">
					<h2 class="card-title text-center">Поиск отеля</h2>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label class="col-form-label">Название</label>
						<input asp-for="Name" class="form-control" />
						<span></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Страна</label>
						<input asp-for="Country" class="form-control" />
						<span></span>
						<label class="col-form-label">Город</label>
						<input asp-for="City" class="form-control" />
						<span></span>
					</div>
				</div>
			</div>
			<input type="submit" value="Начать поиск" class="btn btn-block btn-success mt-3"/>
		</form>
	</div>
	<div class="col-sm-9">
		@if (Model.Apartments.Count > 0)
		{
			@if (Model.PageModel.TotalPages > 1)
			{
				<search-link page-view-model="Model.PageModel" page-action="Search"></search-link>
			}

			<div class="list-group mb-3">
				@foreach (var item in Model.Apartments)
				{

					<a asp-action="Details" asp-route-id="@item.Id" class="list-group-item-action list-group-item row no-gutters">
						<div class="row">
							<div class="col-md-4">
								@if (item.Photos.Count > 0)
								{
									<img src="@item.Photos.FirstOrDefault().PhotoUrl" alt="Изображение не найдено" class="img-fluid rounded" />

								}
								else
					{
						<h2>Нет изображения</h2>
					}
							</div>
							<div class="col-md-6">
								<h2>[@item.ApartmentType.Name] @item.Name</h2>
								<h4>Количество звезд: @item.Stars</h4>
							</div>
						</div>
					</a>
				}
			</div>
			@if (Model.PageModel.TotalPages > 1)
			{
				<search-link page-view-model="Model.PageModel" page-action="Search"></search-link>
			}
		}
		else
		{
			<h4>Не найдено отелей по запросу</h4>
		}

	</div>
</div>

