@model Number
@{
	ViewData["Title"] = "Кровати";
}
<input type="hidden" asp-for="Id" />
<div class="card mt-3">
	<div class="card-body col-sm-12">
		<div class="col-sm-12">
			<h2 class="card-title">Кровати в номере</h2>
			<div class="row col-sm-8">
				<button id="CreateNumberBed" name="CreateNumberBed" class="btn btn-success">Доавить кровать</button>
			</div>
			<div class="align-items-end row align-items-start" name="NumberBeds" id="NumberBeds">
				@foreach(var b in Model.NumberBeds)
				{
					{ await Html.RenderPartialAsync("_NumberBedPartial", new NumberBedViewModel(b, ViewBag.BedsSelect)); }
				}
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$("#CreateNumberBed").click(function () {
				fetch("/apartment/numberBed/create", {
					method: "POST",
					headers: {
						"content-type": "application/json"
					},
					body: JSON.stringify($("#Id").val())
				})
					.then(res => res.text())
					.then(res => {
						$("#NumberBeds").append(res);
					});
			});
		});

		$("body").on("change", "input[name='NumberBeds.Quantity'], select[name='NumberBeds.BedId']", function () {
			const numberBed = {
				id: $(this).parent().children("input[name='NumberBeds.Id']").val(),
				numberid: $("#Id").val(),
				bedId: $(this).parent().children("select[name='NumberBeds.BedId']").val(),
				quantity: $(this).parent().children("input[name='NumberBeds.Quantity']").val()
			};

			fetch("/apartment/numberBed/update", {
				method: "PUT",
				headers: {
					"content-type": "application/json",
					"accept": "application/json"
				},
				body: JSON.stringify(numberBed)
			});
		});

		$("body").on("click", "button[name='DeleteNumberBed']", function () {
			fetch("/apartment/numberBed/delete", {
				method: "DELETE",
				headers: {
					"content-type": "application/json"
				},
				body: JSON.stringify($(this).siblings("input[name='NumberBeds.Id']").val())
			});
			$(this).parent().remove();
		});
	</script>
}

