@model Number
@{
    ViewData["Title"] = "Редактирование номера";
}

<form asp-action="" asp-controller="">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title col-sm-8">Общая информация о номере</h2>
            <div class="form-group col-sm-4">
                <label asp-for="@Model.CustomName" class="col-form-label"></label>
                <input asp-for="@Model.CustomName" class="form-control" />
            </div>
            <div class="form-group col-sm-4">
                <input type="submit" value="Принять" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<form asp-controller="" asp-action="">
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title col-sm-8">Количество кроватей в номере</h2>
            <div class="form-group col-sm-4">
                <label class="col-form-label"></label>
                <input class="form-control" />
                <span class="alert-danger"></span>
            </div>
            <div class="form-group col-sm-4">
                <input type="submit" name="beds" value="Принять" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@if (Model.NumberBeds )
{
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title">Комнаты</h2>
        </div>
        <div class="list-group list-group-flush">
            @foreach (var item in Model.NumberBeds)
            {
                @Html.EditorFor(i => i.NumberBeds.FirstOrDefault(o => o.Id == item.Id))
            }
        </div>
    </div>
}

@if (Model.NumberType.HasRooms)
{
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title col-sm-8">Количество комнат</h2>
            <form asp-controller="" asp-action="" method="post">
                <div class="form-group col-sm-3">
                    <label class="col-form-label">Спальни</label>
                    <input type="number" name="bedrooms" class="form-control" />
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label">Кухни</label>
                    <input type="number" name="bedrooms" class="form-control" />
                </div>
                <div class="form-group col-sm-3">
                    <label class="col-form-label">Ванные</label>
                    <input type="number" name="bedrooms" class="form-control" />
                </div>
                <div class="form-group col-sm-4">
                    <input type="submit" value="Применить" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}

@if (Model.NumberBeds.Count() > 0)
{
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title">Комнаты</h2>
        </div>
        <div class="list-group list-group-flush">
            @foreach (var item in Model.NumberBeds)
            {
                @Html.EditorFor(i => i.NumberBeds.FirstOrDefault(o => o.Id == item.Id))
            }
        </div>
    </div>
}



<a asp-action="Services" asp-controller="Create" class="btn-block btn-success btn-lg mt-3 mb-1 text-center">Вернуться к списку номеров</a>