@model EditNumberViewModel
@{
	ViewData["Title"] = "Номера";
	ViewData["Id"] = Model.Number.ApartmentId;
	Layout = "_CreateApartmentLayout";
}

<form asp-action="Edit" asp-controller="Number">
	<input type="hidden" asp-for="Number.Id" />
	<input type="hidden" asp-for="Number.ApartmentId" />
	<input type="hidden" asp-for="Number.NumberTypeId" />
	<div class="card mt-3">
		<div class="card-body">
			<h2 class="card-title col-sm-8">Общая информация о номере</h2>
			<div class="form-group col-sm-4">
				<label asp-for="Number.Name" class="col-form-label"></label>
				<input asp-for="Number.Name" class="form-control" />
			</div>
			<div class="form-group col-sm-4">
				<label asp-for="Number.Area" class="col-form-label"></label>
				<input asp-for="Number.Area" class="form-control" />
			</div>
			<div class="form-group col-sm-4">
				<label asp-for="Number.Price" class="col-form-label"></label>
				<input asp-for="Number.Price" class="form-control" />
			</div>
			<div class="form-group col-sm-4">
				<label asp-for="Count" class="col-form-label"></label>
				<input asp-for="Count" class="form-control" />
				<span asp-validation-for="Count" class="alert-danger"></span>
			</div>
			<div class="form-group col-sm-4">
				<input asp-for="Number.Enable" class="form-check-inline" />
				<label asp-for="Number.Enable" class="col-form-label"></label>
			</div>
		</div>
	</div>

	<div class="card mt-3">
		<div class="card-body col-sm-12">
			<div class="col-sm-12">
				<h2 class="card-title">Кровати в номере</h2>
				<div class="row col-sm-8">
					<a id="addBed" class="btn btn-success">Добавить кровать</a>
					<a id="deleteBed" class=" ml-3 btn btn-danger">Удалить кровать</a>
				</div>
				<div class="align-items-end row align-items-start" id="numberBeds">
					@for (int i = 0; i < Model.Number.NumberBeds.Count; i++)
					{
						<div class="form-group col-sm-4 mb-5 bedBlock" id="@i">
							<input type="hidden" asp-for="Number.NumberBeds[i].Id" />
							<label class="col-form-label">Тип кровати</label>
							<select asp-for="Number.NumberBeds[i].BedId" asp-items="@Model.BedsSelect" class="custom-select" id="bedsList"></select>
							<label class="col-form-label">Количество кроватей</label>
							<input asp-for="Number.NumberBeds[i].Quantity" class="form-control" />
						</div>
					}
				</div>
			</div>
		</div>
	</div>

	@if (Model.Number.NumberType.HasRooms)
	{
		<div class="card mt-3">
			<div class="card-body">
				<h2 class="card-title col-sm-8">Количество комнат</h2>
				<div class="row col-sm-12">
					@for (int i = 0; i < Model.Rooms.Count; i++)
					{
						<div class="form-group col-sm-3">
							<label class="col-form-label">@Model.Rooms[i].Name</label>
							<select asp-for="Rooms[i].Count" class="form-control">
								<option value="0">Нет</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					}
				</div>
			</div>
		</div>
	}


	<input type="submit" class="btn-block btn-success btn-lg mt-3 mb-1 text-center mb-5" value="Сохранить изменения"/>

</form>





@section ApartmentScripts {
		<script>
		$(function () {
			var bedsList = $('#bedsList').html();
			var id = $('#numberBeds').children().length;

			$('#addBed').click(function () {
				var htmlBlock = "<div class='form-group col-sm-4 mb-5 bedBlock' id='" + id + "'>" +
					"<input type='hidden' name='NumberBeds[" + id + "].Id' />" +
					"<label class='col-form-label'>Тип кровати</label>" +
					"<select name='NumberBeds[" + id + "].BedId' class='custom-select'>" + bedsList + "</select>" +
					"<label class='col-form-label'>Количество кроватей</label>" +
					"<input class='form-control' name='NumberBeds[" + id + "].Quantity' type='number'/>" +
					@*"<a class='btn btn-secondary btn-block mt-3 deleteBed'>Удалить</a>" +*@
					"</div>";

				

				if (id < 3) {
					$('#deleteBed').attr('class', 'btn btn-danger ml-3');
					$('#addBed').attr('class', 'btn btn-success');
					$('#numberBeds').append(htmlBlock);
					id++;
					if (id == 3)
						$('#addBed').attr('class', 'btn btn-secondary');
				}

			});

			$('#deleteBed').click(function () {

				if (id > 0) {
					$('#deleteBed').attr('class', 'btn btn-danger ml-3');
					$('#addBed').attr('class', 'btn btn-success');
					$('#numberBeds').children().last().remove();
					id--;
					if (id == 0)
						$('#deleteBed').attr('class', 'btn btn-secondary ml-3');
				}
			});

		})
		</script>
	}

