@model Number
@{
	ViewData["Title"] = "Общая информация";
	ViewData["Id"] = Model.ApartmentId;
}

<form asp-action="Edit" asp-controller="Number">
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="ApartmentId" />
	<input type="hidden" asp-for="NumberTypeId" />
	<div class="card mt-3">
		<div class="card-body">
			<h2 class="card-title col-sm-8">Общая информация о номере</h2>
			<div class="form-group col-sm-4">
				<label asp-for="Name" class="col-form-label"></label>
				<input asp-for="Name" class="form-control" />
			</div>
			<div class="form-group col-sm-4">
				<label asp-for="Area" class="col-form-label"></label>
				<input asp-for="Area" class="form-control" />
			</div>
			<div class="form-group col-sm-4">
				<label asp-for="Count" class="col-form-label"></label>
				<input asp-for="Count" class="form-control" />
				<span asp-validation-for="Count" class="alert-danger"></span>
			</div>
			<div class="form-group col-sm-4">
				<input asp-for="Enable" class="form-check-inline" />
				<label asp-for="Enable" class="col-form-label"></label>
			</div>
		</div>
	</div>

	<input type="submit" class="btn-block btn-success btn-lg mt-3 mb-1 text-center mb-5" value="Сохранить изменения"/>

</form>

