@model NumbersViewModel
@{
	Layout = "_EditApartmentLayout";
	ViewData["Title"] = "Номера";
	ViewData["Id"] = Model.Id;
}

<form asp-controller="Number" asp-action="Create" asp-route-id="@Model.Id">
	<div class="card mt-3">
		<div class="card-body">
			<h2 class="card-title">Добавить новый номер</h2>
			<div class="form-group">
				<select name="numberTypeId" asp-items="@Model.NumberTypes" class="custom-select col-sm-4"></select>
				<input type="submit" value="Добавить" class="btn btn-success" />
			</div>
		</div>
	</div>
</form>

<div class="list-group mt-3">
	@foreach (Number item in Model.NumbersList)
	{
		<a asp-controller="Number" asp-action="Edit" asp-route-id="@item.Id" class="list-group-item list-group-item-action d-sm-inline-flex">
			<div class="flex-grow-1">
				<h4>@item.Name</h4>
			</div>
		</a>
	}

</div>
