@model Number
@{ 
	ViewData["Title"] = "Бронирования";
}
<div class="mt-3 card">
	<iframe frameborder="0" src="@Url.Action("Table", "Number", new { Model.Id })" class="min-vh-100 h-25 w-100"></iframe>

</div>

