@model ApartmentType
@{
	ViewData["Title"] = "Типы отелей";
}

<div class="col-sm-12">
	<h2 class="display-4">Редактирование элемента</h2>
	<a asp-action="Index" class="btn-link">Вернуться к спику</a>
</div>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
	<div class="col-sm-4 mt-3">
		<input type="hidden" asp-for="Id" />
		<div class="form-group">
			<label asp-for="Name" class="col-form-label"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="alert-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="col-form-label"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="alert-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="PhotoUrl" class="col-form-label"></label>
			@if(!String.IsNullOrEmpty(Model.PhotoUrl))
			{
				<img class="img-thumbnail" src="@Model.PhotoUrl">
			}
			<input asp-for="File" class="form-control mt-2" />
		</div>
		<div class="form-group">
			<input asp-for="FacilitesRequired" class="form-check-inline" />
			<label asp-for="FacilitesRequired" class="col-form-label"></label>
		</div>
		<div class="form-group">
			<input type="submit" value="Принять изменения" class="btn btn-success" />
		</div>
	</div>
</form>
