@{ 
	ViewData["Title"] = "О веб сайте";
}
<h1>@ViewData["Title"]</h1>
<p>Данный веб сайт разрабатывался в качестве дипломного проекта учеником Асбестовского политехникума в 2021 году и не предназначен для настоящих бронирований отелей.</p>
