@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Users</a>
            <a href="#" class="list-group-item list-group-item-action">Apartments</a>
        </div>
    </div>
    <div class="col-sm-9">
        @RenderBody()
    </div>
</div>