@model List<City>
@{
	ViewData["Title"] = "Города";
}

<h2 class="display-4">Города</h2>
<a asp-action="Create" class="btn btn-success">Добавить элемент</a>

<table class="table mt-3 mb-5">
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Редактировать</a>
				<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
			</td>
		</tr>
	}
</table>
