@{
    ViewData["Title"] = "Security";
}
<h2 class="display-4">Защита</h2>
<table class="table">
    <tr>
        <td><b>Пароль</b></td>
        <td>Сбросить пароль</td>
        <td><a asp-controller="Security" asp-action="ChangePassword" class="btn btn-light">Изменить</a></td>
    </tr>
    <tr>
        <td><b>Аутентификация</b></td>
        <td>Добавить или отрегулированть настройки двухфакторной аутентификации</td>
        <td><a asp-controller="" asp-action="" class="btn btn-light">Изменить</a></td>
    </tr>
    <tr>
        <td><b>Активные сессии</b></td>
        <td>Сьпрсит все активные сессии</td>
        <td><a asp-controller="" asp-action="" class="btn btn-warning">Выйти</a></td>
    </tr>
    <tr>
        <td><b>Удалить аккаунт</b></td>
        <td>Полностью удалить аккаунт</td>
        <td><a asp-controller="" asp-action="" class="btn btn-danger">Удалить</a></td>
    </tr>
</table>