@model Service
@{
	ViewData["Title"] = "Услуги";
}

<div class="col-sm-12">
	<h2 class="display-4">Редактирование элемента</h2>
	<a asp-action="Index" class="btn-link">Вернуться к спику</a>
</div>

<form asp-action="Edit" method="post">
	<div class="col-sm-4 mt-3">
		<div class="form-group">
			<label asp-for="Name" class="col-form-label"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="alert-danger"></span>
		</div>
		<div class="form-group">
			<label class="col-form-label" asp-for="@Model.File"></label>
			<input asp-for="@Model.File" />
			<span asp-validation-for="@Model.File" class="alert-danger"></span>
		</div>
		<div class="form-group">
			<input type="submit" value="Принять" class="btn btn-success" />
		</div>
	</div>
</form>
