@{
	ViewData["Title"] = "Подтверждение почты";
	Layout = "_Layout";
}

<div class="flex-column align-items-center justify-content-center">
	<h2 class="display-4 text-center">Подтверждение почты</h2>
	<h6 class="text-center w-100">На указаную вами почту было отправлено сообщение с кодом подверждения, перейдите по ссылке указаной в сообщения для подтверждения почты.</h6>

</div>
