@model NumberEntityViewModel
@{
	Layout = "_Empty";
}
<div id="main">
	<table class="table-active">
		@foreach(var entity in Model.Entities)
		{
			<tr>
				@*@foreach(var date in Model.Dates)
				{
				<td></td>
				}*@
				<td>a</td>
			</tr>
		}
	</table>
</div>

